#ControlList{
    background-color: gray;
    color: aliceblue;
    text-align: center;
    margin:  2em 10%;
    height: 80vh;
    overflow: scroll;
}

#orders{
    color: white;
    text-align: center;
    margin-top: 1em;
}

#adminName{
    color: white;
    margin-left: 10%;
    margin-top: 1em;
}