footer {
    font-size:20px;
    text-align: center;
    letter-spacing: 2px;
}

.contain{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
}

.photo {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    margin:20px 20px;
}


.orderList {
    grid-row: 1;
    grid-column: 2;
    margin:25px 10px;
    text-align: center;
    background-color:rgb(196, 192, 192);
    height: 600px;
    overflow: scroll;
}

img{
    width:50%;
    padding: 2%;
}

.photo img:hover {
    opacity: 0.5;
}

@media only screen and (max-width: 720px) {
    footer {
        width: 100%;
        margin:auto;
    }

    .photo {
        display:block;
    }

}