body {
    background-color:black;    
}

div.gallery {
    margin-top:50px;
    max-width:360px;
    height:auto;
    margin:auto;
    margin-top:50px;
}

div.gallery img {
    width: 100%;
    height:auto;
    border-radius: 100%;
}
.desc {
    background-color:none;
    color:white;
    text-align:center;
}
footer {
    font-size:20px;
    text-align: center;
    letter-spacing: 2px;
    color:white;
}

.inputField {
    float: right;
}
.responsive {
    padding:10px;
    float: left;
    width: 33.33%;
}

.menu-img {
   /* padding:10px; */
    float: right;
    width: 33.33%;
}

#carouselExampleIndicators {
    max-width:480px;
    margin:auto;
    height:auto;
    margin-top:50px;
}

.gallery :hover{
    opacity: 0.4;
   /* transform: scale(1.5) */
}



@media only screen and (max-width: 720px) {
    .responsive {
        width: 100%;
        margin:auto;

    }
    footer {
        width: 100%;
        margin:auto;
    }

    .menu-img {
        width: 100%;
        border:1px solid black;
        height: auto;
    }

    img {
        width:100%
    }
}